/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea/
*.log
ETL/ETL_GET_DATA_FROM_JIRA_CSV/*csv
ETL/ETL_GET_DATA_FROM_CUBE/cube_export/*csv
*env
configs/*.json
vpn/*

grafana_custom/build/
