# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Custom ignore files
.idea/
venv/
*.log*
ETL/*.csv

# Confidential files
.env
configs/*.json

vpn/*

/configs/sftp_ssh_private_key